body{
    display: flex;
    align-items: flex-start;
}

.blue{
    padding:100px;
    background-color: rgb(63, 137, 233);
}

.yo{
    padding: 100px;
    margin: 10px;
    background-color: rgb(255, 186, 82);
}